/* ==========================
   REGISTER
========================== */

.register {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 24px;
}

/* ==========================
   HEADER
========================== */

.register__header {
  width: 100%;
  text-align: left;
  margin-top: 10px;
}

.register__back {
  color: #8fa0ba;
  text-decoration: none;
  font-size: 0.9rem;
  transition: color .3s;
}

.register__back:hover {
  color: #00ff87;
}

.register__title {
  margin-top: 16px;
  font-size: 1.6rem;
  font-weight: 800;
}

.register__subtitle {
  margin-top: 4px;
  font-size: 0.8rem;
  color: #8fa0ba;
}

.register__highlight {
  color: #e67e22;
}

/* ==========================
   FORM
========================== */

.register__form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.register__button {
  margin-top: 10px;
  border: none;
  cursor: pointer;
}

/* ==========================
   FOOTER
========================== */

.register__footer {
  width: 100%;
  margin-top: 10px;
  text-align: center;
  font-size: 0.8rem;
  color: #8fa0ba;
}

.register__login-link {
  color: #00ff87;
  font-weight: 700;
  text-decoration: none;
  transition: opacity .3s;
}

.register__login-link:hover {
  opacity: 0.8;
}